Repository brisbanesocialchess/awesome-social-chess, pull requests merged in 2024-10, with the labels that each got.

#2 Add a new book
  README.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest

#7 Update README.md
  README.md
Labels: documentation

#9 Update README.md
  README.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest

#10 Update README.md
  README.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest

#11 add pre-commit with markdown lint
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#12 Fixup pre-commit markdownlint
  .github/linters/.markdown-lint.yaml
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#14 Add `CODEOWNERS` file
  .github/CODEOWNERS
Labels: good first issue, hacktoberfest

#18 Add new book
  README.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest

#19 Update README.md
  README.md
Labels: documentation

#20 Update README.md
  README.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest

#21 Add `yamllint` to .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#26 Fix markdown lint
  README.md
Labels: documentation, good first issue, tests

#24 Create labeler.yml and .github/workflows/labeler.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#27 Missing .github/linters/.yamllint.yaml #25
  .github/linters/.markdown-lint.yaml
  .github/linters/.yamllint.yaml
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#29 Create .codespellrc
  .codespellrc
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#33 yamllint lint errors #30
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#36 Add codespell to pre-commit #17
  .github/linters/codespell.txt
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#37 Create .editorconfig
  .editorconfig
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#39 Create .gitattributes
  .gitattributes
Labels: good first issue, hacktoberfest-accepted, hacktoberfest

#42 Update .editorconfig
  .editorconfig
Labels: good first issue

#43 Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest, tests

#44 Make pre-commit run with GitHub Actions #13
  .github/workflows/pre-commit.yml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#45 Create .gitignore
  .gitignore
Labels: good first issue, hacktoberfest-accepted, hacktoberfest

#57 Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#60 Update .markdown-lint.yaml
  .github/linters/.markdown-lint.yaml
Labels: good first issue, tests

#62 Update .markdown-lint.yaml
  .github/linters/.markdown-lint.yaml
Labels: good first issue, tests

#59 Add logo to README
  README.md
  assets/Social Chess Logo.png
  assets/social-chess-logo.png
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest

#66 Update README.md
  README.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest

#67 Update README.md
  README.md
Labels: documentation, good first issue

#68 Add CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, good first issue, help wanted, hacktoberfest-accepted, hacktoberfest

#69 Update README.md
  README.md
Labels: documentation, good first issue

#73 Center Align the Logo and First Heading
  README.md
  assets/social-preview.png
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest

#72 Fixed markdown lint error
  CONTRIBUTING.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest

#76 Fix lint errors
  CONTRIBUTING.md
  README.md
Labels: documentation, good first issue, tests

#77 Added gitleaks to precommit
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#78 Added oxipng to pre-commit
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#75 Update README.md
  README.md
Labels: documentation, enhancement, good first issue, hacktoberfest-accepted, hacktoberfest

#80 Add Actionlint to pre-commit
  .pre-commit-config.yaml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#82 Delete duplicate asset
  assets/Social Chess Logo.png
Labels: good first issue, hacktoberfest-accepted, hacktoberfest

#84 Create dependabot.yml
  .github/dependabot.yml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#51 Broken pull request labeler #28
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: good first issue, hacktoberfest-accepted, hacktoberfest, tests

#91 Update README.md
  README.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest, root

#92 Update README.md
  README.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest, root

#94 Update pre-commit.yml
  .github/workflows/pre-commit.yml
Labels: good first issue, github-actions

#96 Update README.md
  README.md
Labels: documentation, good first issue, root

#97 Update README.md
  README.md
Labels: documentation, good first issue, root

#100 Update README.md
  README.md
Labels: documentation, good first issue, root

#101 Update README.md
  README.md
Labels: documentation, root

#102 Update README.md
  README.md
Labels: documentation, root

#103 Add MY 60 Memorable Games book
  README.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest, root

#104 Update README.md
  README.md
Labels: documentation, good first issue, root

#106 Update README.md
  README.md
Labels: documentation, good first issue, root

#107 Update README.md
  README.md
Labels: documentation, good first issue, root

#108 Update README.md
  README.md
Labels: documentation, good first issue, root

#109 Create requirements.txt
  requirements.txt
Labels: good first issue, dependencies, root

#110 Update README.md
  README.md
Labels: documentation, good first issue, root

#111 Update README.md
  README.md
Labels: documentation, good first issue, root

#113 Update README.md
  README.md
Labels: documentation, good first issue, root

#115 Create Makefile
  Makefile
Labels: good first issue, tests, root

#116 Update README.md
  README.md
Labels: documentation, good first issue, root

#117 Expand Makefile
  .gitignore
  Makefile
Labels: tests, root

#118 Update README.md - test one HTML button link
  README.md
Labels: documentation, root

#120 Update README.md
  README.md
Labels: documentation, root

#121 Update README.md - try HTML buttons
  README.md
Labels: documentation, root

#122 Create _config.yml
  _config.yml
Labels: root

#123 Update _config.yml
  _config.yml
Labels: root

#124 Update README.md
  README.md
Labels: documentation, good first issue, root

#126 Update README.md
  README.md
Labels: documentation, good first issue, root

#127 Added linter file
  .github/workflows/linter.yml
Labels: hacktoberfest-accepted, hacktoberfest, github-actions

#128 Add files via upload
  assets/social-preview.png
Labels: good first issue, hacktoberfest-accepted, hacktoberfest

#133 Add GitHub Sponsors section
  README.md
  assets/social-preview.png
  assets/sponsor-jbampton.png
Labels: documentation, good first issue, root
