Repository brisbanesocialchess/awesome-social-chess, pull requests merged in 2024-11, with the labels that each got.

#137 Update README.md
  README.md
Labels: documentation, root

#138 Update README.md
  README.md
Labels: documentation, root

#139 Update linter.yml
  .github/workflows/linter.yml
Labels: github-actions

#140 Add feature: Added chess for kids
  README.md
Labels: documentation, good first issue, root

#141 Update README.md
  README.md
Labels: documentation, root
