Repository brisbanesocialchess/awesome-social-chess, pull requests merged in 2025-04, with the labels that each got.

#159 Checkout clone OS matrix tests
  .github/workflows/test.yml
  .pre-commit-config.yaml
Labels: root, github-actions

#161 Use full pre commit config
  .pre-commit-config.yaml
Labels: root

#162 Clean up the pre-commit config
  .pre-commit-config.yaml
Labels: documentation, tests, root

#164 Clean up test related files
  .github/workflows/labeler.yml
  .github/workflows/pre-commit.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
Labels: root, github-actions

#167 misc: clean up the `.editorconfig` file
  .editorconfig
Labels: good first issue, root

#168 Add prettier with pre-commit
  .pre-commit-config.yaml
Labels: tests, root

#169 Update README.md add badge for prettier
  README.md
Labels: documentation, root

#90 Create welcome.yml
  .github/workflows/welcome.yml
Labels: good first issue, hacktoberfest, tests, github-actions

#170 Update README.md
  README.md
Labels: documentation, root

#171 Whitespace fixup
  README.md
Labels: documentation, root

#172 Lint file standardization; pre-commit autoformat Markdown files with prettier
  .github/linters/.editorconfig-checker.json
  .github/linters/.markdown-lint.yml
  .github/workflows/super-linter.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Labels: documentation, root, github-actions

#174 Update test.yml: remove old Ubuntu version
  .github/workflows/test.yml
Labels: github-actions
