Repository brisbanesocialchess/awesome-social-chess, pull requests merged in 2025-05, with the labels that each got.

#176 Add book by Gary Kasparov
  README.md
Labels: documentation, root

#177 Fix codespellrc
  .codespellrc
  .github/linters/codespell.txt
  .pre-commit-config.yaml
Labels: root, github-actions

#180 pre-commit update hooks, node; format JSON with prettier
  .pre-commit-config.yaml
Labels: root

#181 Update README.md - update book titles
  README.md
Labels: documentation, root

#182 Add book
  README.md
Labels: documentation, root

#183 Create LOCATIONS.md
  LOCATIONS.md
Labels: documentation, root
