Repository brisbanesocialchess/awesome-social-chess, pull requests merged in 2025-10, with the labels that each got.

#213 Update test.yml remove macos-13
  .github/workflows/test.yml
Labels: github-actions

#217 Added Styles And Emojis In The Contributing.md File
  CONTRIBUTING.md
Labels: documentation, good first issue, hacktoberfest-accepted, hacktoberfest, root

#219 Fix linters
  CONTRIBUTING.md
Labels: documentation, root
